<!DOCTYPE html>
<html>
<head>
<title>My WebPage</title>

</head>
<body>
    <a href="/form"><br> Form <br> </a>
    <a href="/successform"><br>Success Form <br> </a>
<h1>This Heading level 1</h1>
<h2>This Heading level 2</h2>
<p>This is my first paragraph</p>
<a href="https://w3schools.com"> This is w3schools <br> </a>
<br>
<img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?cs=srgb&dl=daylight-environment-forest-459225.jpg&fm=jpg" width="500" height="300" alt="My image">
</body>
</html>