<!DOCTYPE html>
<html>
<head>
<title>My WebPage</title>

</head>
<body>
<h1>This Heading level 1</h1>
<h2>This Heading level 2</h2>
<h3>This Heading level 3</h3>
<h4>This Heading level 4</h4>
<h5>This Heading level 5</h5>
<h6>This Heading level 6</h6>
<p>This is my first paragraph</p>
<a href="https://w3school.com"> This is w3school <br> </a>
<a href="/form"> form <br> </a>
<br>
<img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?cs=srgb&dl=daylight-environment-forest-459225.jpg&fm=jpg" width="250" height="300" alt="My image">
</body>
</html>